*.iml
.gradle
.caches/
wrapper/dists/
generated-gradle-jars/
/caches
/local.properties
/.idea
/.tmp
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
